<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<body>
	<div th:fragment="text(label, textValue)">
		<div class="form-group">
			<label for="categoryName" class="col-md-2 control-label"
				th:text="${label}"></label>
			<div class="col-md-3"
				th:classappend="${!(formErrors ?: false) ? '' : (#fields.hasErrors('__${textValue}__') ? 'has-feedback has-error' : 'has-feedback has-success')}">
				<input type="text" class="form-control"
					th:field="*{__${textValue}__}"> <span
					th:classappend="${!(formErrors ?: false) ? '' : (#fields.hasErrors('__${textValue}__') ? 'glyphicon form-control-feedback glyphicon-remove' : 'glyphicon form-control-feedback glyphicon-ok')}"
					class=""></span>
			</div>
		</div>
	</div>

	<div th:fragment="label(label, textValue)">
		<div class="form-group row-label">
			<label for="categoryName" class="col-md-2 control-label text-muted"
				th:text="${label}"></label>
			<div class="col-md-5">
				<label class="control-label" th:text="*{__${textValue}__}"></label>
			</div>
		</div>
	</div>

	<div th:fragment="file(label)">
		<div class="form-group">
			<label for="categoryName" class="col-md-2 control-label"
				th:text="${label}"></label>
			<div class="col-md-3">
				<input type="file" name="file" class="form-control">
			</div>
		</div>
	</div>

	<div th:fragment="image(label, imageByteString)">
		<div class="row">
			<label for="categoryName" class="col-md-2 control-label text-muted"
				th:text="${label}"></label>
			<div class="col-md-3">
				<th:block th:if="${imageByteString != null}">
					<img class="img-fluid img-thumbnail"
						th:src="|data:image/jpeg;base64,${imageByteString}|" />
				</th:block>
				<th:block th:if="${imageByteString == null}">
					<img class="img-fluid img-thumbnail"
						th:src="@{/static/images/img-placeholder.png}" />
				</th:block>
			</div>
		</div>
	</div>

	<div
		th:fragment="dropdown(label, itemList, objField, objFieldName, textField, valueField)">
		<div class="form-group">
			<label for="categoryName" class="col-md-2 control-label"
				th:text="${label}"></label>
			<div class="col-md-3"
				th:classappend="${!(formErrors ?: false) ? '' : (#fields.hasErrors('__${objFieldName}__') ? 'has-feedback has-error' : 'has-feedback has-success')}">
				<select th:name="${objFieldName}" class="form-control">
					<option value="-1">Select</option>
					<option th:each="item : ${itemList}"
						th:value="${item.__${valueField}__}"
						th:text="${item.__${textField}__}"
						th:selected="${(objField != null) and (objField.__${valueField}__ == item.__${valueField}__)}"></option>
				</select> <span
					th:classappend="${!(formErrors ?: false) ? '' : (#fields.hasErrors('__${objFieldName}__') ? 'glyphicon form-control-feedback glyphicon-remove' : 'glyphicon form-control-feedback glyphicon-ok')}"
					class=""></span>
			</div>
		</div>
	</div>
</body>
</html>