<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/static/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/static/css/site.css}" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet">

<title>Innovative Hub</title>
</head>

<body class="loginBackground">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<section class="login-form">
					<div th:if="${param.error}" class="alert alert-danger alertStyle">
						<span class="glyphicon glyphicon-remove-circle"></span> Invalid
						Username and Password.
					</div>

					<div th:if="${param.logout}">
						<div class="">
							<div class="alert alert-dismissible"
								th:classappend="alert-success" role="alert">
								<!-- <button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button> -->
								<strong><span class="fa fa-check-circle fa-2x top-navbar-right-offset"></span><span>You
										were successfully logged out.</span></strong>
							</div>
						</div>
					</div>

					<form method="post" th:action="@{/login}" role="login">
						<!-- <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive"
							alt="" /> -->
						<h1 class="text-center titleColor">Leela Enterprises</h1>
						<div class="form-group login-formgroup">
							<div class="input-group">
								<span class="input-group-addon"><span
									class="glyphicon glyphicon-user"></span> </span> <input type="text"
									name="username" class="form-control input-lg"
									placeholder="User Name" />
							</div>
						</div>

						<div class="form-group login-formgroup">
							<div class="input-group">
								<span class="input-group-addon"><span
									class="glyphicon glyphicon-lock"></span> </span> <input
									type="password" name="password" class="form-control input-lg"
									placeholder="Password" />
							</div>
						</div>

						<button type="submit" name="go"
							class="btn btn-lg btn-primary btn-block">Sign in</button>
					</form>
				</section>
			</div>
		</div>
	</div>
</body>
</html>